In [1]:
import pandas as pd

In [2]:
# rowdata = {
#     "电影名称": ['功夫熊猫', '叶问3', '伦敦陷落', '代理情人', '新步步惊心', '谍影重重', '功夫熊猫', '美人鱼', '宝贝当家', '唐人街探案'],
#     "搞笑镜头": [39,3,2,9,8,5,39,21,45,23],
#     "拥抱镜头": [0,2,3,38,34,2,0,17,2,3],
#     "打斗镜头": [31,65,55,2,17,57,31,5,9,17],
#     "电影类型": ["喜剧片", "动作片", "动作片", "爱情片", "爱情片", "动作片", "喜剧片", "喜剧片", "喜剧片"]
# }
rowdata = {
    "电影名称": ['功夫熊猫', '叶问3', '伦敦陷落', '代理情人', '新步步惊心', '谍影重重', '功夫熊猫', '美人鱼', '宝贝当家'],
    "搞笑镜头": [39,3,2,9,8,5,39,21,45],
    "拥抱镜头": [0,2,3,38,34,2,0,17,2],
    "打斗镜头": [31,65,55,2,17,57,31,5,9],
    "电影类型": ["喜剧片", "动作片", "动作片", "爱情片", "爱情片", "动作片", "喜剧片", "喜剧片", "喜剧片"]
}

In [3]:
movie_data = pd.DataFrame(rowdata)
# print(movie_data)

In [53]:
movie_data

    电影名称  搞笑镜头  拥抱镜头  打斗镜头 电影类型
0   功夫熊猫    39     0    31  喜剧片
1    叶问3     3     2    65  动作片
2   伦敦陷落     2     3    55  动作片
3   代理情人     9    38     2  爱情片
4  新步步惊心     8    34    17  爱情片
5   谍影重重     5     2    57  动作片
6   功夫熊猫    39     0    31  喜剧片
7    美人鱼    21    17     5  喜剧片
8   宝贝当家    45     2     9  喜剧片

In [54]:
new_data = [23, 3, 17]
data = ((movie_data.iloc[:9, 1:4] - new_data) ** 2).sum(1) ** 0.5
data
# dist =

0    21.470911
1    52.009614
2    43.416587
3    40.570926
4    34.438351
5    43.874822
6    21.470911
7    18.547237
8    23.430749
dtype: float64

In [55]:
# movie_data.iloc[:9, 4]
k = 5
data_l = pd.DataFrame({
    "data": data,
    "labels": (movie_data.iloc[:9, 4]),
})

In [56]:
data_l

        data labels
0  21.470911    喜剧片
1  52.009614    动作片
2  43.416587    动作片
3  40.570926    爱情片
4  34.438351    爱情片
5  43.874822    动作片
6  21.470911    喜剧片
7  18.547237    喜剧片
8  23.430749    喜剧片

In [57]:
sort_data = data_l.sort_values(by="data")

In [58]:
sort_data

        data labels
7  18.547237    喜剧片
0  21.470911    喜剧片
6  21.470911    喜剧片
8  23.430749    喜剧片
4  34.438351    爱情片
3  40.570926    爱情片
2  43.416587    动作片
5  43.874822    动作片
1  52.009614    动作片

In [59]:
select_k = sort_data[:k]

In [60]:
select_k

        data labels
7  18.547237    喜剧片
0  21.470911    喜剧片
6  21.470911    喜剧片
8  23.430749    喜剧片
4  34.438351    爱情片

In [61]:
frequency1 = select_k.loc[:, "labels"]

In [62]:
frequency1

7    喜剧片
0    喜剧片
6    喜剧片
8    喜剧片
4    爱情片
Name: labels, dtype: object

In [63]:
result = frequency1.value_counts()

In [64]:
result

喜剧片    4
爱情片    1
Name: labels, dtype: int64

In [66]:
result.index[0]

'喜剧片'